body{
    header li{
        display: inline;
        list-style: none;
        padding: 10px;
        margin-left: 0px;
        padding-left: 0px;
    }
    .high{
        background-color: red;
    }
    
}